@media screen and (min-width: 768px) and (max-width: 1399px){
    .sectionSkillsHobbies{
        gap: initial;
        justify-content: space-between;
    }
    .cardBlanca{
        width: calc(31% - 1rem);
        height: 8vh;
        padding: 0.75rem;
        font-size: 1rem;
    }
    .img{
        max-width: 35px;
    }
}

@media screen and (min-width: 300px) and (max-width: 767px){
    .sectionSkillsHobbies{
        gap: initial;
        justify-content: space-between;
    }
    .tituloSkills{
        font-size: 1.25rem;
    }
    .cardBlanca{
        width: calc(49% - 1rem);
        height: 6vh;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .img{
        max-width: 25px;
    }
}